:root {
    --first-color: #212121;
    --second-color: #757575;
    --decorative-color: #2196F3;
    --third-color: #FFFFFF;
    --fifth-color: #000000;
}
a.a-logo {
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
text-decoration: none;
color: var(--fifth-color);
}
span.blue-logo {
color: dodgerblue;
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
text-decoration: none;
}
ul {
list-style-type: none;
padding-inline-start: 0;
}
#blue-text {
color: var(--decorative-color);
text-decoration: none;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;
}
#buttons-header {
color: var(--first-color);
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;
text-decoration: none;
}
#buttons-header {
color: var(--first-color);
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;
text-decoration: none;
}
a.mail-header{
color: var(--decorative-color);
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;
text-decoration: none;
}
a.phone-header {
color: var(--second-color);
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;
text-decoration: none;
}
.decorative-button {
width: 73px;
height: 38px;
top: 174px;
left: 512px;
gap: 0px;
border-radius: 4px 0px 0px 0px;
opacity: 0px;
background-color: var(--decorative-color);  
color: var(--third-color);
border: none;
}
.container {
max-width: 1170px;
margin: 0 auto;
}
button {
font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.06em;
background-color: #2196F3;
border: none;
color: #FFFFFF;
width: 216px;
height: 50px;
top: 430px;
left: 692px;
gap: 0px;
opacity: 0px;
text-align: center;
}
h3 {
font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
color: var(--first-color);
}
p {
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
color: var(--second-color);
}
a.footer-logo {
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
text-decoration: none;
color:  var(--third-color);
}
span.logo-custom {
color: dodgerblue;
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
text-decoration: none;
}
address > p {
    color: var(--fifth-color); /*!Тут так само не видно якщо білий колір*/
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
}
.header-ul {
    display: flex;
    gap: 50px;
    margin-right: 340px;
}
.main-text {
    display: flex;
}
.main-photos {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.our-team-photos {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: auto;
}
.main-buttons {
    display: flex;
}
.main-info {
    display: flex;
}
.title-ourteam {
text-align: center;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42.19px;
letter-spacing: 0.03em;
padding-top: 140px;
}
.main-words {
    font-family: Roboto;
font-size: 44px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0.06em;
text-align: center;
color: #FFFFFF;
}
.main-button {
    background-color: #2F303A;
    height: 500px;
    padding-top: 215px;
}
.main-button {
    justify-content: center;
    text-align: center;
}
.adress-p {
    font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
color: gray;
text-decoration: none;
}
nav { 
    display: flex;
    justify-content: space-between;
}
.headers-ul {
    display: flex;
    gap: 60px;
}
nav {
    justify-content: baseline;
    align-items: center;
}
.footer-section {
    background-color: #2F303A;
}
.adress-adress {
    font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
color: #ffffff;
text-decoration: none;
}
.people {
    color: #757575;
    justify-content: center;
    padding-left: 70px;
}
.person {
    color: #212121;
    font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
letter-spacing: 0.03em;
text-align: center;
padding-left: 70px;
}
.our-team {
background-color: #F5F4FA;
text-align: center;
}
.title-ourteam-second {
    text-align: center;
    font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42.19px;
letter-spacing: 0.03em;
padding-top: 200px;
}